
*
{
    margin:0;
    padding:0;
}



nav{
    color: white;
    background-color: black;
}
li,h1,ul{
    display: inline;
}
ul{
    margin:60%;
    color:grey;
}

li:hover{
    color:white;
}


input{
    width: 60%;
    padding:15px;
}
.searchbar{
    padding:50px;
    text-align:center

}
.box1{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display:inline-block;
    width: 200px; ;

}
.product{
    text-align: center;
}
.box1:hover{
    background-color: black;
    color:azure;
}
.about{
    margin-top: 20px;
    text-align: center;
    padding:30px;
}
.contact{
    text-align: center;
    background-color: black;
    color:white;
    padding: 20px;
}
